# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\davak\Documents\DEVELOPMENT OPERATIONS\PROJECTS\CAR_SHARING\CarSharing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
